/* Schedule.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

/* Form Styles */
form {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.form_wrap{
  width: 100%;
  display: flex;
}



input[type="text"],
input[type="datetime-local"],
select {
  width: 90%;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; 
  transition: border-color 0.3s, box-shadow 0.3s; 
  margin-right: 80px;
}

input[type="text"]:focus,
input[type="datetime-local"]:focus,
select:focus {
  border-color: #198ca6; 
  box-shadow: 0 0 5px rgba(25, 140, 166, 0.5); 
}

.button_wrap{
  display: flex;
  align-items: flex-end;
}


button {
  height: 50%;
  background-color: #198ca6;
  color:white;
  padding: 0px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #347e8a; 
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

table th {
  background-color: #1e525a; 
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}



table button {
  background-color: #0d4750; 
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

table button:hover {
  background-color: #347e8a; 
}

